@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-family: "Noto Sans kr", sans-serif;
  width: 100%;
}

header,
section,
footer {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}
