.userlogin {
  display: flex;
  justify-content: center;
  padding: 30px, 0px;
}

.userlogin__form {
  width: 460px;
  /* max-width: 100%; */
}

.radioBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
  border-color: black;
  color: darkslategray;
}

.userlogin__id,
.userlogin__pwd {
  width: 100%;
  margin-bottom: 10px;
}

.userlogin__submitBtn {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0 15px;
  /* font-weight: 700; */
  text-align: center;
}

.userlogin__findBtn {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 2em;
}

.userlogin__usersignupBtn,
.userlogin__ownersignupBtn {
  display: inline-block;
  width: 210px;
  margin: 10px;
}
