/* .container {
  display: flex;
  justify-content: center;
  padding: 30px, 0px;
}

.form {
  width: 460px;
}

.button {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0 15px;
  font-weight: 700;
  text-align: center;
} */
